name: CI

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'
  schedule:
    - cron: '0 0 * * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Install node
      uses: actions/setup-node@v1
      with:
       node-version: '10.x'
    - name: Install Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.7'
        architecture: 'x64'
    - name: Install dependencies
      run: |
        python -m pip install jupyterlab~=3.0.0rc6
        python -m pip install cookiecutter

    - name: Create pure frontend extension
      run: |
        cookiecutter . --no-input
        cd myextension
        pip install -e .
        jlpm run eslint:check
        jupyter labextension list 1>labextensions 2>&1
        cat labextensions | grep "myextension.*OK"
        python -m jupyterlab.browser_check
        jlpm run install:extension
        jupyter labextension build .

        jupyter labextension uninstall myextension
        pip uninstall -y myextension jupyterlab
